<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="public/css/pintuer.css">
<link rel="stylesheet" href="public/css/admin.css">
<script src="public/js/jquery.js"></script>
<script src="public/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 友情链接列表</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="window.location.href='#add'"><span class="icon-plus-square-o"></span> 添加内容</button>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="10%">图片</th>
      <th width="15%">名称</th>
      <th width="20%">描述</th>
      <th width="20%">URl</th>
      <th width="10%">排序</th>
      <th width="15%">操作</th>
    </tr>
   {(foreach) $links as $k => $v}
    <tr>
      <td>{$v['lid']}</td>     
      <td><img src="{$v['logo']}" alt="" width="50" height="50" /></td>     
      <td>{$v['linkname']}</td>
      <td>{$v['description']}</td>
      <td>{$v['url']}</td>
      <td>{$v['displayorder']}</td>
      <td><div class="button-group">
      <a class="button border-main" href="index.php?m=admin&a=adv&change={$v['lid']}"><span class="icon-edit"></span> 修改</a>
      <a class="button border-red" href="index.php?m=admin&a=adv&del={$v['lid']}"><span class="icon-trash-o"></span> 删除</a>
      </div></td>
    </tr>
  {/(foreach)}
    
  </table>
</div>

{if empty($_GET['change'])}
<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加/修改链接</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{$_SERVER['REQUEST_URI']}" enctype='multipart/form-data'>  
    <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />  
    <input type="hidden" name="add" value="123"/>
    <input type="hidden" name="way" value="123"/>
      <div class="form-group">
        <div class="label">
          <label>名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入连接名称" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>URL：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="url" value=""  />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>Logo：</label> 
        </div>
          <input type="file" name="icon" />
      </div>

      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input" name="note" style="height:120px;" value=""></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sort" value="0"  data-validate="required:,number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
{else}
<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加新链接</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{$_SERVER['REQUEST_URI']}" enctype='multipart/form-data'>  
    <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />  
    <input type="hidden" name="change" value="123"/>
    <input type="hidden" name="way" value="123"/>
      <div class="form-group">
        <div class="label">
          <label>名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$thisLink['linkname']}" name="title" data-validate="required:请输入连接名称" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>URL：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="url" value="{$thisLink['url']}"  />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>Logo：</label> 
        </div>
          <input type="file" name="icon" />
      </div>

      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input" name="note" style="height:120px;" >{$thisLink['description']}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sort" value="{$thisLink['displayorder']}"  data-validate="required:,number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
{/if}
</body></html>